# Ignore Python bytecode
__pycache__/

# Ignore all __pycache__ folders anywhere
**/__pycache__/

# Ignore all 'runs' folders (e.g., TensorBoard logs)
runs/
**/runs/

# Ignore all models for now as well
models/
**/models/